<section class="dictionary">
    <h1>Словарь</h1>
    <p>Здесь представлены основные термины и их описания, используемые в GeoWeb:</p>

    <div class="dictionary-list">
        <div class="term">
            <h3>БД</h3>
            <p>База данных</p>
        </div>
        <div class="term">
            <h3>Интерфейс</h3>
            <p>Совокупность программных и аппаратных средств и протоколов, предназначенных для организации взаимодействия различных устройств, а также взаимодействия их с человеком.</p>
        </div>
        <div class="term">
            <h3>SLD</h3>
            <p>(Styled Layer Descriptor) это стандарт, разработанный Open Geospatial Consortium (OGC), который описывает, как визуализировать географические данные на картах. SLD используется в основном в контексте веб-картографии и геоинформационных систем (ГИС).</p>
        </div>
        <div class="term">
            <h3>Текстовый символизатор</h3>
            <p>Это инструмент или компонент в программном обеспечении, который используется для визуализации данных в текстовом формате. Он может преобразовывать числовые или категориальные данные в текстовые метки, которые затем отображаются в графиках, диаграммах или других визуальных представлениях.</p>
        </div>
        <div class="term">
            <h3>Кластеризация</h3>
            <p>Это процесс группировки объектов в кластеры (группы) таким образом, чтобы объекты в одной группе были более похожи друг на друга, чем объекты из разных групп. Кластеризация может использоваться для анализа пространственных данных, например, для выявления зон с высокой концентрацией определенных объектов.</p>
        </div>
        <div class="term">
            <h3>OSM (OpenStreetMap)</h3>
            <p>Слой OSM на карте представляет собой визуализацию данных, собранных в проекте OpenStreetMap. Он включает в себя различные элементы - здания, реки, парки и другие элементы.</p>
        </div>
    </div>
</section>
