<div class="header">
  <div class="header-logo">
  <div class="language-container">
    <a href="#" class="lang-button" [class.active]="selectedLanguage === 'Рус'" (click)="setLanguage('Рус')">Рус</a>
    <a href="#" class="lang-button" [class.active]="selectedLanguage === 'Eng'" (click)="setLanguage('Eng')">Eng</a>
    <a href="#" class="lang-button" [class.active]="selectedLanguage === 'Қаз'" (click)="setLanguage('Қаз')">Қаз</a>
  </div>
</div>
  <div class="header-inner">
    <div class="logo-language-container">
      <div class="logo">
        <img src="assets/logo2.jpg" alt="Logo" />
      </div>
    </div>

    <!-- Навигация -->
    <div class="navigation">
      <button (click)="setActiveComponent('home')" [class.active]="selectedComponent === 'home'" class="nav-link">Главная</button>
      <button (click)="setActiveComponent('about')" [class.active]="selectedComponent === 'about'" class="nav-link">О нас</button>
      <button (click)="setActiveComponent('instructions')" [class.active]="selectedComponent === 'instructions'" class="nav-link">Инструкция</button>
      <button (click)="setActiveComponent('contacts')" [class.active]="selectedComponent === 'contacts'" class="nav-link">Контакты</button>
      <button (click)="setActiveComponent('glossary')" [class.active]="selectedComponent === 'glossary'" class="nav-link">Словарь</button>
    </div>
  </div>
</div>

<!-- Контент -->
<div>
  <ng-container *ngComponentOutlet="activeComponent"></ng-container>
</div>
<div class="footer">
  <p>&copy; 2024 Ваш сайт. Все права защищены.</p>     
  <p><a href="#">Политика конфиденциальности</a> | <a href="#">Условия использования</a></p>
</div>
